.hehe {
    font-weight: bolder;
    color: red;
}

.black {
    background-color: gray;
}

.container { 
    display: flex;
    background-color: gray;
}

.tool-div {
    background-color: green;
    padding: 20px;
    margin: 20px;
    height: 500px;
    width: 500px;

    border-style: dashed;
}

.sketch-div {
    display: grid;
    grid-template-columns: repeat(4, auto); 
    

    background-color: rgb(99, 24, 105);
    width: 2500px; 
    max-height: 545px;
    margin: 20px;
}

.block {
    height: auto;
    width: auto;

}

.clrButton{
    font-size: 20px;
    font-weight: bolder;
    font-family:  Arial, Helvetica, sans-serif;
    background-color: rgb(211, 211, 211);
    margin-left: 25%;
    padding: 20px;
    border-radius: 9999px;
}

